<h1>{{model.country}} </h1>



<!-- {{city-tile city=model destroyCity="destroyCity"}} -->

<ul>
  {{#each model.rentals as |rental|}}
     {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental save2="save3" city=model}}
