
<h2>Please choose a question to answer</h2>

<ul>
  {{#each model.cities as |city|}}
    <li>{{#link-to 'city' city.id}}{{city.country}} {{/link-to}}<br> Originally aswered by: {{city.name}}</li>
  {{/each}}
</ul>

{{new-city saveCity="saveCity"}}

<hr>
